@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Thirsty Script';
    src: url('../assets/fonts/thirsty_script/ThirstyScriptExtraBoldDemo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF Pro Display', sans-serif;
}

.logo-main {
    font-family: 'Thirsty Script', sans-serif;
}