@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 5, 0.5);
}

/* Define keyframes for opacity animation */
@keyframes opacityAnimation {
  0% { opacity: 1; } /* Start opacity */
  50% { opacity: 0; } /* Middle opacity */
  100% { opacity: 1; } /* End opacity */
}

/* Apply animation to the button */
.live-button {
  animation: opacityAnimation 3s infinite; /* Apply animation with 3s duration and infinite loop */
}

/* Animation for mini popups after actions */
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  20%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2px);
  }
}

.animation-in-out {
  animation: fade-in-out 3s ease-in-out;
}